body:after{
  display:none;
  content:  url('../img/ClientIcons/aathHover.svg')
            url('../img/ClientIcons/lnbHover.svg') 
            url('../img/ClientIcons/thiHover.svg');
 }

.button {
  width: 166px;
  background-color: white;
  height: 44px;
  color: #3F424C;
  font-size: 0.90rem;
}

.buttonAlt {
  width: 166px;
  background: rgba(34,255,245,1);
  color: #3F424C;
  height: 44px;
  font-size: 0.90rem;
}

.thi {
  height: 200px;
  width: 200px;
  background: url('../img/ClientIcons/thi.svg');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.thi:hover {
  background: url('../img/ClientIcons/thiHover.svg');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.lnb {
  height: 200px;
  width: 200px;
  background: url('../img/ClientIcons/lnb.svg');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.lnb:hover {
  background: url('../img/ClientIcons/lnbHover.svg');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.aath {
  height: 200px;
  width: 200px;
  background: url('../img/ClientIcons/aath.svg');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.aath:hover {
  background: url('../img/ClientIcons/aathHover.svg');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}