.button {
  width: 166px;
  background-color: white;
  height: 44px;
  color: #3F424C;
  font-size: 0.90rem;
}

.buttonAlt {
  width: 166px;
  background: rgba(34,255,245,1);
  color: #3F424C;
  height: 44px;
  font-size: 0.90rem;
}

.thi:hover {
  content: url('../../src/img/ClientIcons/thiHover.png');
}

.lnb:hover {
  content: url('../../src/img/ClientIcons/lnbHover.png');
}

.aath:hover {
  content: url('../../src/img/ClientIcons/aathHover.png');
}