body:after{
  display:none;
  content:  url('../../src/img/icons/instagramHover.svg') 
            url('../../src/img/icons/facebookHover.svg') 
            url('../../src/img/icons/twitterHover.svg') 
            url('../../src/img/icons/callHover.svg');
 } 

.footer {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #3F424C;
}

.footerLink {
  
}

.footerLink:hover {
  color: rgba(34,255,245,1)
}

.tecLightGrey {
  background-color: #A9ACBB
}

.tecGrey {
  background-color: #3F424C
}

.footerBlock:before {
  vertical-align: top;
}

.instagramIcon {
  height: 30px;
  width: 30px;
  background: url('../../src/img/icons/instagram.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.instagramIcon:hover {
  background: url('../../src/img/icons/instagramHover.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.facebookIcon {
  height: 30px;
  width: 30px;
  background: url('../../src/img/icons/facebook.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.facebookIcon:hover {
  background: url('../../src/img/icons/facebookHover.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.twitterIcon {
  height: 30px;
  width: 30px;
  background: url('../../src/img/icons/twitter.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.twitterIcon:hover {
  background: url('../../src/img/icons/twitterHover.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.callIcon {
  height: 30px;
  width: 30px;
  background: url('../../src/img/icons/call.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.callIcon:hover {
  background: url('../../src/img/icons/callHover.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
}