p {
  margin: 0;
  padding: 0;
}
.tecGrey {
  background-color: #3F424C
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menuItem {
  color: #3F424C;
}

.menuBar {
  background-color: #3F424C;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  height: 70px;
}

.menuBarLower {
  height: 70px;
}